<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension-point id="resources" name="Resources" schema="schema/resources.exsd"/>
<extension-point id="publisher" name="Publisher" schema="schema/publisher.exsd"/>
<extension-point id="protocols" name="Protocols" schema="schema/protocols.exsd"/>
<!--
   <extension
         point="com.jaspersoft.studio.repositoryview">
      <repositoryview
            ClassFactory="com.jaspersoft.studio.server.ServerProvider">
      </repositoryview>
   </extension>
   -->
   <extension
         point="com.jaspersoft.studio.properties.propertyTabs">
      <propertyTabs
            contributorId="com.jaspersoft.studio.Repository">
         <propertyTab
               category="element"
               id="com.jaspersoft.studio.server.ResourceDescriptor.Basic"
               label="Resource">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.server.ResourceDescriptor.Basic"
               category="element"
               id="com.jaspersoft.studio.server.ResourceDescriptor.Properties"
               label="Properties">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="com.jaspersoft.studio.properties.propertySections">
      <propertySections
            contributorId="com.jaspersoft.studio.Repository">
         <propertySection
               class="com.jaspersoft.studio.server.properties.CommonSection"
               id="com.jaspersoft.studio.server.ResourceDescriptor.Basic.name"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Basic">
            <input
                  type="com.jaspersoft.studio.server.model.MResource">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.ReferenceSection"
               id="com.jaspersoft.studio.server.properties.ReferenceSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MReference">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.DatasourceSection"
               id="com.jaspersoft.studio.server.properties.DatasourceSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.datasource.MRDatasource">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.DatasourceBeanSection"
               id="com.jaspersoft.studio.server.properties.DatasourceBean"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.datasource.MRDatasourceBean">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.DatasourceCustomSection"
               id="com.jaspersoft.studio.server.properties.DatasourceCustom"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.datasource.MRDatasourceCustom">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.DatasourceJNDISection"
               id="com.jaspersoft.studio.server.properties.DatasourceJNDI"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.datasource.MRDatasourceJNDI">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.DatasourceJDBCSection"
               id="com.jaspersoft.studio.server.properties.DatasourceJDBC"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.datasource.MRDatasourceJDBC">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.DataTypeSection"
               id="com.jaspersoft.studio.server.properties.DataType"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MDataType">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.FontSection"
               id="com.jaspersoft.studio.server.properties.FontSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MRFont">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.ImageSection"
               id="com.jaspersoft.studio.server.properties.ImageSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MRImage">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.InputControlSection"
               id="com.jaspersoft.studio.server.properties.InputControlSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MInputControl">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.JarSection"
               id="com.jaspersoft.studio.server.properties.JarSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MJar">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.JrxmlSection"
               id="com.jaspersoft.studio.server.properties.JRXMLSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MJrxml">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.ListOfValuesSection"
               id="com.jaspersoft.studio.server.properties.ListOfValuesSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MListOfValues">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.QuerySection"
               id="com.jaspersoft.studio.server.properties.QuerySection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MRQuery">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.ReportUnitSection"
               id="com.jaspersoft.studio.server.properties.ReportUnitSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MReportUnit">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.ResourceBundleSection"
               id="com.jaspersoft.studio.server.properties.ResourceBundleSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MResourceBundle">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.StyleTemplateSection"
               id="com.jaspersoft.studio.server.properties.StyleTemplateSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MRStyleTemplate">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.jaspersoft.studio.server.editor.ReportUnitEditor"
            contributorClass="com.jaspersoft.studio.editor.JrxmlEditorContributor"
            default="false"
            icon="icons/reportunit.png"
            id="com.jaspersoft.studio.server.editor.ReportUnitEditor"
            name="ReportUnit Editor">
      </editor>
   </extension>
   <extension
         point="com.jaspersoft.studio.editorLifecycle">
      <editorLifecycle
            ClassFactory="com.jaspersoft.studio.server.editor.JRSEditorContributor">
      </editorLifecycle>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.jaspersoft.studio"
            name="Jaspersoft Studio">
      </category>
      <wizard
            category="com.jaspersoft.studio"
            class="com.jaspersoft.studio.server.publish.wizard.Publish2ServerWizard"
            id="com.jaspersoft.studio.server.publish"
            name="Report To JasperReports Server">
         <description>
            Export the report to JasperReports Server
         </description>
         <selection
               class="org.eclipse.core.resources.IResource"
               name="*.jrxml">
         </selection>
      </wizard>
      <wizard
            category="com.jaspersoft.studio"
            class="com.jaspersoft.studio.server.publish.wizard.PublishFile2ServerWizard"
            id="com.jaspersoft.studio.server.publishFile"
            name="File To JasperReports Server">
         <description>
            Export a file to JasperReports Server
         </description>
         <selection
               class="org.eclipse.core.resources.IFile">
         </selection>
      </wizard>
   </extension>
   -->
   <extension
         id="server.hyperlinkTypes"
         point="com.jaspersoft.studio.hyperlinkTypes">
      <hyperlinkType
            id="com.jaspersoft.studio.server.hyperlink.types.reportExecution"
            type="ReportExecution">
      </hyperlinkType>
   </extension>
   <extension
         point="com.jaspersoft.studio.inputcontroltypes">
      <inputcontroltypes
            InputControlProvider="com.jaspersoft.studio.server.editor.input.main.InputControlTypesProvider">
      </inputcontroltypes>
   </extension>
   <!--
	 <extension
	         point="org.eclipse.ui.importWizards">
	      <category
	            id="com.jaspersoft.studio"
	            name="Jaspersoft Studio">
	      </category>
	      <wizard
	            category="com.jaspersoft.studio"
	            class="com.jaspersoft.studio.server.wizard.ImportServersWizard"
	            id="com.jaspersoft.studio.importserver"
	            name="%importServers">
	         <description>
	            Import one or more JasperReport Server connections from a previuous installation of iReport
	         </description>
	      </wizard>
	      <wizard
	            category="com.jaspersoft.studio"
	            class="com.jaspersoft.studio.server.wizard.ImportJSSServersWizard"
	            id="com.jaspersoft.studio.importserver"
	            name="%importServersJSS">
	         <description>
	            Import one or more JasperReport Server connections from another workspace of JSS
	         </description>
	      </wizard>
	   </extension>
	   -->
  <extension
        point="com.jaspersoft.studio.babel.editor.resourceInput">
     <input
           class="com.jaspersoft.studio.server.messages.ResourcePublisher">
     </input>
  </extension>
  <!--
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="com.jaspersoft.studio.server.publish.PublishHandler"
           commandId="com.jaspersoft.studio.server.publish">
		<activeWhen>  
				<with variable="selection"> 
					<iterate operator="or"> 
						<or>
							<instanceof value="org.eclipse.core.resources.IFile"/> 
							 <with variable="activeEditorInput">
			      		<instanceof value="org.eclipse.ui.IFileEditorInput"/> 
			    		</with> 
		    		</or>
					</iterate> 
				</with> 
		</activeWhen>
    <enabledWhen>
       <with variable="selection">
            <count value="1"/> 
       </with>
    </enabledWhen> 
     </handler>
  </extension>
  -->
  <!--
  <extension
        point="org.eclipse.ui.commands">
     <command
           id="com.jaspersoft.studio.server.publish"
           name="%publish.command">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="menu:project">
        <command
              commandId="com.jaspersoft.studio.server.publish"
              icon="icons/server-upload.png"
              id="com.jaspersoft.studio.server.menu.publish"
              style="push"
              tooltip="%publish.command">
        </command>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.ui.main.toolbar">
        <toolbar
              id="com.jaspersoft.studio.server.toolbar">
           <command
                 commandId="com.jaspersoft.studio.server.publish"
                 icon="icons/server-upload.png"
                 id="com.jaspersoft.studio.community.toolbar.issueSubmit"
                 label="%command.label"
                 style="push"
                 tooltip="%publish.command">
           </command>
        </toolbar>
     </menuContribution>
  </extension>
  -->
  <!--
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="com.jaspersoft.studio.server.publish"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+M3+U">
     </key>
  </extension>
  -->
  <extension
        point="com.jaspersoft.studio.EditorSettingsMenu">
     <EditorSettingsMenu
           ClassFactory="com.jaspersoft.studio.server.publish.action.ServerSettingsEditorMenuContributor">
     </EditorSettingsMenu>
  </extension>
  <!--
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="com.jaspersoft.studio.preferences.StudioPreferencePage"
           class="com.jaspersoft.studio.server.preferences.CASPreferencePage"
           id="com.jaspersoft.studio.server.preferences.CASPreferencePage.property"
           name="Single Sign On Servers">
     </page>
  </extension>
  -->
  <extension
        point="org.eclipse.jdt.ui.classpathContainerPage">
     <classpathContainerPage
           class="com.jaspersoft.studio.server.container.JRSClasspathContainerPage"
           id="com.jaspersoft.server.JRS_CONTAINER"
           name="Jaspersoft Server Library">
     </classpathContainerPage>
  </extension>
  <extension
        id="com.jaspersoft.server.JRS_CONTAINER"
        name="com.jaspersoft.server.JRS_CONTAINER"
        point="org.eclipse.jdt.core.classpathContainerInitializer">
     <classpathContainerInitializer
           class="com.jaspersoft.studio.server.container.JRSClasspathContainerInitializer"
           id="com.jaspersoft.server.JRS_CONTAINER">
     </classpathContainerInitializer>
  </extension>
  <extension
        point="net.sf.jasperreports.classpathcontainer">
     <classpathcontainer
           ClassFactory="com.jaspersoft.studio.server.container.JRSClasspathContainerFactory">
     </classpathcontainer>
  </extension>

</plugin>
