<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="jrexpressionLanguage" name="JRExpression Language Support" schema="schema/jrexpressionLanguage.exsd"/>
	<!--
    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="com.jaspersoft.studio.editor.jrexpressions.ui.JavaJRExpressionExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="__javajrexpr"
            id="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression"
            name="JavaJRExpression Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="com.jaspersoft.studio.editor.jrexpressions.ui.JavaJRExpressionExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="com.jaspersoft.studio.editor.jrexpressions.ui.JavaJRExpressionExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression.validate">
         <activeWhen>
            <reference
                    definitionId="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="com.jaspersoft.studio.editor.jrexpressions.ui.JavaJRExpressionExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression"
            name="JavaJRExpression">
            <keywordReference id="com.jaspersoft.studio.editor.jrexpressions.ui.keyword_JavaJRExpression"/>
        </page>
        <page
            category="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression"
            class="com.jaspersoft.studio.editor.jrexpressions.ui.JavaJRExpressionExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression.coloring"
            name="Syntax Coloring">
            <keywordReference id="com.jaspersoft.studio.editor.jrexpressions.ui.keyword_JavaJRExpression"/>
        </page>
        <page
            category="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression"
            class="com.jaspersoft.studio.editor.jrexpressions.ui.JavaJRExpressionExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression.templates"
            name="Templates">
            <keywordReference id="com.jaspersoft.studio.editor.jrexpressions.ui.keyword_JavaJRExpression"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="com.jaspersoft.studio.editor.jrexpressions.ui.JavaJRExpressionExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression"
            name="JavaJRExpression">
            <keywordReference id="com.jaspersoft.studio.editor.jrexpressions.ui.keyword_JavaJRExpression"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="com.jaspersoft.studio.editor.jrexpressions.ui.keyword_JavaJRExpression"
            label="JavaJRExpression"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="com.jaspersoft.studio.editor.jrexpressions.ui.JavaJRExpressionExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   
	-->
<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="com.jaspersoft.studio.editor.jrexpressions.ui.JavaJRExpressionExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="__javajrexpr">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="com.jaspersoft.studio.editor.jrexpressions.ui.JavaJRExpressionExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="__javajrexpr">
        </resourceServiceProvider>
    </extension>


<!--
   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="com.jaspersoft.studio.editor.jrexpressions.ui.JavaJRExpressionExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression"
            class="com.jaspersoft.studio.editor.jrexpressions.ui.JavaJRExpressionExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="com.jaspersoft.studio.editor.jrexpressions.ui.keyword_JavaJRExpression"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression"
            class="com.jaspersoft.studio.editor.jrexpressions.ui.JavaJRExpressionExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="com.jaspersoft.studio.editor.jrexpressions.ui.keyword_JavaJRExpression"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
-->

	<!-- Quick Outline -->
<!--
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="com.jaspersoft.studio.editor.jrexpressions.ui.JavaJRExpressionExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.jaspersoft.studio.editor.jrexpressions.JavaJRExpression.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
-->
   <!-- quickfix marker resolution generator -->
<!--
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.jaspersoft.studio.editor.jrexpressions.ui.JavaJRExpressionExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
-->   
   <!-- Jaspersoft Studio standard (contributed) expression editor -->
   <extension
         id="com.jaspersoft.studio.editor.jrexpressions.BasicSupport"
         name="Default Support for JRExpression Editor"
         point="com.jaspersoft.studio.expressionEditorSupport">
      <editorSupportFactory
            class="com.jaspersoft.studio.editor.jrexpressions.ui.support.DefaultExpressionEditorSupportFactory"
            override="false">
      </editorSupportFactory>
   </extension>

   <!-- Preference page for the expression editor stuff -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.jaspersoft.studio.preferences.EditorsPreferencePage"
            class="com.jaspersoft.studio.preferences.ExpressionEditorPreferencePage"
            id="com.jaspersoft.studio.preferences.ExpressionEditorPreferencePage"
            name="%ExpressionEditor">
      </page>
   </extension>
   
   <!-- 
   	List of languages providing a custom support for the Expression Editor 
   	As for now, only Java language has a custom editor with grammar implemented in Xtext.
   -->
   <extension
         id="supportedLanguages"
         point="com.jaspersoft.studio.editor.jrexpressions.ui.jrexpressionLanguage"
         name="Jaspersoft Studio languages with custom editor support">
      <languageSupport
            class="com.jaspersoft.studio.editor.jrexpressions.ui.support.java.JavaExpressionEditorSupport"
            languageName="java">
      </languageSupport>
      <languageSupport
            class="com.jaspersoft.studio.editor.jrexpressions.ui.support.java.JavaExpressionEditorSupport"
            languageName="groovy">
      </languageSupport>
   </extension>
   <extension
         point="com.jaspersoft.studio.babel.editor.resourceInput">
      <input
            class="com.jaspersoft.studio.editor.jrexpressions.ui.messages.ResourcePublisher">
      </input>
   </extension>
</plugin>
