<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<fragment>
 <extension point="org.eclipse.ui.menus">
 <menuContribution
            locationURI="menu:window">
         <menu
               id="com.jaspersoft.studio.switchlanguage.menus"
               label="%language"
               mnemonic="L">
           $commands
         </menu>
      </menuContribution>
 </extension>
</fragment>
