<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension
         point="org.eclipse.ui.commands">
      <command
            name="%command.name"
            id="com.jaspersoft.studio.community.command.issueSubmit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.jaspersoft.studio.community.command.issueSubmit"
            class="com.jaspersoft.studio.community.IssueSubmissionHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help">
            <command
                  commandId="com.jaspersoft.studio.community.command.issueSubmit"
            	  mnemonic="%command.mnemonic"
                  id="com.jaspersoft.studio.community.menu.issueSubmit"
                  icon="resources/images/softwareBugIcon.png">
            </command>
                        
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.jaspersoft.studio.community.toolbar">
            <command
                  commandId="com.jaspersoft.studio.community.command.issueSubmit"
                  icon="resources/images/softwareBugIcon.png"
                  id="com.jaspersoft.studio.community.toolbar.issueSubmit"
                  label="%command.label"
                  mnemonic="%command.mnemonic"
                  tooltip="%command.tooltip"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="com.jaspersoft.studio.babel.editor.resourceSender">
      <sender
            class="com.jaspersoft.studio.community.translationSender.TranslationCommunitySender">
      </sender>
   </extension>
   <extension
         point="com.jaspersoft.studio.babel.editor.resourceInput">
      <input
            class="com.jaspersoft.studio.community.messages.ResourcePublisher">
      </input>
   </extension>
</plugin>
