<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.jaspersoft.studio.components">
      <component
            ClassFactory="com.jaspersoft.studio.components.barcode.BarcodeComponentFactory">
      </component>
      <component
            ClassFactory="com.jaspersoft.studio.components.list.ListComponentFactory">
      </component>
       <component
            ClassFactory="com.jaspersoft.studio.components.chart.ChartComponentFactory">
      </component>
      <component
            ClassFactory="com.jaspersoft.studio.components.crosstab.CrosstabComponentFactory">
      </component>
      <component
            ClassFactory="com.jaspersoft.studio.components.table.TableComponentFactory">
      </component>
      <component
            ClassFactory="com.jaspersoft.studio.components.map.MapComponentFactory">
      </component>
      <component
            ClassFactory="com.jaspersoft.studio.components.sort.SortComponentFactory">
      </component>
      <component
            ClassFactory="com.jaspersoft.studio.components.chartspider.SpiderChartComponentFactory">
      </component>
   </extension>
   <extension
         point="com.jaspersoft.studio.properties.propertySections">
      <propertySections
            contributorId="com.jaspersoft.studio.editor.report.ReportContainer">
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.ChartSection"
               id="com.jaspersoft.studio.components.chart.property.section.Chart"
               tab="com.jaspersoft.studio.components.chart">
            <input
                  type="com.jaspersoft.studio.components.chart.model.MChart">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.chart.property.section.Chart"
               class="com.jaspersoft.studio.components.chart.property.section.LegendSection"
               id="com.jaspersoft.studio.components.chart.property.section.LegendSection"
               tab="com.jaspersoft.studio.components.chart">
            <input
                  type="com.jaspersoft.studio.components.chart.model.MChart">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.chart.property.section.Chart"
               class="com.jaspersoft.studio.components.chart.property.section.TitleSection"
               id="com.jaspersoft.studio.components.chart.property.section.TitleSection"
               tab="com.jaspersoft.studio.components.chart">
            <input
                  type="com.jaspersoft.studio.components.chart.model.MChart">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.chart.property.section.TitleSection"
               class="com.jaspersoft.studio.components.chart.property.section.SubTitleSection"
               id="com.jaspersoft.studio.components.chart.property.section.SubtitleSection"
               tab="com.jaspersoft.studio.components.chart">
            <input
                  type="com.jaspersoft.studio.components.chart.model.MChart">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.ChartPlotSection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartPlot"
               tab="com.jaspersoft.studio.components.chart.plot">
            <input
                  type="com.jaspersoft.studio.components.chart.model.MChart">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.chartAxis.MChartAxes">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.model.dataset.descriptor.DatasetSection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartDataset"
               tab="com.jaspersoft.studio.components.chart.dataset">
            <input
                  type="com.jaspersoft.studio.components.chart.model.dataset.MChartCategoryDataset">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.dataset.MChartGanttDataset">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.dataset.MChartTimePeriodDataset">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.dataset.MChartXYBarDataset">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.dataset.MChartXYDataset">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.dataset.MChartXYZDataset">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chartspider.model.MChartSpiderDataset">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.dataset.DatasetHigLowSection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartDatasetHighLow"
               tab="com.jaspersoft.studio.components.chart.dataset">
            <input
                  type="com.jaspersoft.studio.components.chart.model.dataset.MChartHighLowDataset">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.dataset.DatasetValueSection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartDatasetValue"
               tab="com.jaspersoft.studio.components.chart.dataset">
            <input
                  type="com.jaspersoft.studio.components.chart.model.dataset.MChartValueDataset">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.dataset.DatasetPieSection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartDatasetPie"
               tab="com.jaspersoft.studio.components.chart.dataset">
            <input
                  type="com.jaspersoft.studio.components.chart.model.dataset.MChartPieDataset">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.dataset.DatasetTimeSeriesSection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartDatasetTimeSeries"
               tab="com.jaspersoft.studio.components.chart.dataset">
            <input
                  type="com.jaspersoft.studio.components.chart.model.dataset.MChartTimeSeriesDataset">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chartspider.property.section.ChartSection"
               id="com.jaspersoft.studio.components.chartspider.property.section.Chart"
               tab="com.jaspersoft.studio.components.chart">
            <input
                  type="com.jaspersoft.studio.components.chartspider.model.MSpiderChart">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.chartspider.property.section.SubtitleSection"
               class="com.jaspersoft.studio.components.chartspider.property.section.LegendSection"
               id="com.jaspersoft.studio.components.chartspider.property.section.LegendSection"
               tab="com.jaspersoft.studio.components.chart">
            <input
                  type="com.jaspersoft.studio.components.chartspider.model.MSpiderChart">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.chartspider.property.section.Chart"
               class="com.jaspersoft.studio.components.chartspider.property.section.TitleSection"
               id="com.jaspersoft.studio.components.chartspider.property.section.TitleSection"
               tab="com.jaspersoft.studio.components.chart">
            <input
                  type="com.jaspersoft.studio.components.chartspider.model.MSpiderChart">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.chartspider.property.section.TitleSection"
               class="com.jaspersoft.studio.components.chartspider.property.section.SubTitleSection"
               id="com.jaspersoft.studio.components.chartspider.property.section.SubtitleSection"
               tab="com.jaspersoft.studio.components.chart">
            <input
                  type="com.jaspersoft.studio.components.chartspider.model.MSpiderChart">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chartspider.property.section.ChartPlotSection"
               id="com.jaspersoft.studio.components.chartspider.property.section.ChartPlot"
               tab="com.jaspersoft.studio.components.chart.plot">
            <input
                  type="com.jaspersoft.studio.components.chartspider.model.MSpiderChart">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.series.SeriesCategorySection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartSeriesCategory"
               tab="com.jaspersoft.studio.components.chart.series">
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.category.MCategorySeries">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.series.SeriesGanttSection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartSeriesGantt"
               tab="com.jaspersoft.studio.components.chart.series">
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.gantt.MGanttSeries">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.series.SeriesPieSection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartSeriesPie"
               tab="com.jaspersoft.studio.components.chart.series">
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.pie.MPieSeries">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.series.SeriesTimePeriodSection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartSeriesTimePeriod"
               tab="com.jaspersoft.studio.components.chart.series">
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.timeperiod.MTimePeriodSeries">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.series.SeriesTimeSerieSection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartSeriesTimeSeries"
               tab="com.jaspersoft.studio.components.chart.series">
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.time.MTimeSeries">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.series.SeriesXySection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartSeriesXy"
               tab="com.jaspersoft.studio.components.chart.series">
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.xyseries.MXYSeries">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.series.SeriesXyzSection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartSeriesXyz"
               tab="com.jaspersoft.studio.components.chart.series">
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.xyzseries.MXYZSeries">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.barcode.property.BarcodeSection"
               id="com.jaspersoft.studio.components.barcode.property.BarcodeSection"
               tab="com.jaspersoft.studio.components.barcode">
            <input
                  type="com.jaspersoft.studio.components.barcode.model.MBarcode">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.barcode.property.BarcodeSection"
               class="com.jaspersoft.studio.components.barcode.property.BarcodeBarbecueSection"
               id="com.jaspersoft.studio.components.barcode.property.BarcodeBarbecueSection"
               tab="com.jaspersoft.studio.components.barcode">
            <input
                  type="com.jaspersoft.studio.components.barcode.model.MBarcodeBarbecue">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.barcode.property.BarcodeSection"
               class="com.jaspersoft.studio.components.barcode.property.Barcode4jSection"
               id="com.jaspersoft.studio.components.barcode.property.Barcode4jSection"
               tab="com.jaspersoft.studio.components.barcode">
            <input
                  type="com.jaspersoft.studio.components.barcode.model.barcode4j.MBarcode4j">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.barcode.property.Barcode4jSection"
               class="com.jaspersoft.studio.components.barcode.property.Code39Section"
               id="com.jaspersoft.studio.components.barcode.property.Code39Section"
               tab="com.jaspersoft.studio.components.barcode">
            <input
                  type="com.jaspersoft.studio.components.barcode.model.barcode4j.MCode39">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.barcode.property.Barcode4jSection"
               class="com.jaspersoft.studio.components.barcode.property.PDF417Section"
               id="com.jaspersoft.studio.components.barcode.property.PDF417Section"
               tab="com.jaspersoft.studio.components.barcode">
            <input
                  type="com.jaspersoft.studio.components.barcode.model.barcode4j.MPDF417">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.barcode.property.Barcode4jSection"
               class="com.jaspersoft.studio.components.barcode.property.POSTNETSection"
               id="com.jaspersoft.studio.components.barcode.property.POSTNETSection"
               tab="com.jaspersoft.studio.components.barcode">
            <input
                  type="com.jaspersoft.studio.components.barcode.model.barcode4j.MPOSTNET">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.barcode.property.Barcode4jSection"
               class="com.jaspersoft.studio.components.barcode.property.UPCESection"
               id="com.jaspersoft.studio.components.barcode.property.UPCESection"
               tab="com.jaspersoft.studio.components.barcode">
            <input
                  type="com.jaspersoft.studio.components.barcode.model.barcode4j.MUPCE">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.barcode.property.Barcode4jSection"
               class="com.jaspersoft.studio.components.barcode.property.UPCASection"
               id="com.jaspersoft.studio.components.barcode.property.UPCASection"
               tab="com.jaspersoft.studio.components.barcode">
            <input
                  type="com.jaspersoft.studio.components.barcode.model.barcode4j.MUPCA">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.barcode.property.Barcode4jSection"
               class="com.jaspersoft.studio.components.barcode.property.CodabarSection"
               id="com.jaspersoft.studio.components.barcode.property.CodabarSection"
               tab="com.jaspersoft.studio.components.barcode">
            <input
                  type="com.jaspersoft.studio.components.barcode.model.barcode4j.MCodabar">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.barcode.property.Barcode4jSection"
               class="com.jaspersoft.studio.components.barcode.property.EAN128Section"
               id="com.jaspersoft.studio.components.barcode.property.EAN128Section"
               tab="com.jaspersoft.studio.components.barcode">
            <input
                  type="com.jaspersoft.studio.components.barcode.model.barcode4j.MEAN128">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.barcode.property.Barcode4jSection"
               class="com.jaspersoft.studio.components.barcode.property.EAN13Section"
               id="com.jaspersoft.studio.components.barcode.property.EAN13Section"
               tab="com.jaspersoft.studio.components.barcode">
            <input
                  type="com.jaspersoft.studio.components.barcode.model.barcode4j.MEAN13">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.barcode.property.Barcode4jSection"
               class="com.jaspersoft.studio.components.barcode.property.EAN8Section"
               id="com.jaspersoft.studio.components.barcode.property.EAN8Section"
               tab="com.jaspersoft.studio.components.barcode">
            <input
                  type="com.jaspersoft.studio.components.barcode.model.barcode4j.MEAN8">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.barcode.property.Barcode4jSection"
               class="com.jaspersoft.studio.components.barcode.property.DataMatrixSection"
               id="com.jaspersoft.studio.components.barcode.property.DataMatrixSection"
               tab="com.jaspersoft.studio.components.barcode">
            <input
                  type="com.jaspersoft.studio.components.barcode.model.barcode4j.MDataMatrix">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.barcode.property.Barcode4jSection"
               class="com.jaspersoft.studio.components.barcode.property.Interleaved2Of5Section"
               id="com.jaspersoft.studio.components.barcode.property.Interleaved2Of5Section"
               tab="com.jaspersoft.studio.components.barcode">
            <input
                  type="com.jaspersoft.studio.components.barcode.model.barcode4j.MInterleaved2Of5">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.barcode.property.Barcode4jSection"
               class="com.jaspersoft.studio.components.barcode.property.FourStateSection"
               id="com.jaspersoft.studio.components.barcode.property.FourStateSection"
               tab="com.jaspersoft.studio.components.barcode">
            <input
                  type="com.jaspersoft.studio.components.barcode.model.barcode4j.MFourStateBarcode">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.list.property.ListSection"
               id="com.jaspersoft.studio.components.list.property.ListSection"
               tab="com.jaspersoft.studio.components.list">
            <input
                  type="com.jaspersoft.studio.components.list.model.MList">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.list.property.ListDatasetSection"
               id="com.jaspersoft.studio.components.list.property.ListDatasetSection"
               tab="com.jaspersoft.studio.editor.section.DATASET">
            <input
                  type="com.jaspersoft.studio.components.list.model.MList">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.ChartBookmarkSection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartBookmarkSection"
               tab="com.jaspersoft.studio.editor.section.HYPERLINK">
            <input
                  type="com.jaspersoft.studio.components.chart.model.MChart">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chartspider.model.MSpiderChart">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.dataset.MChartHighLowDataset">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.dataset.MChartPieDataset">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.gantt.MGanttSeries">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.pie.MPieSeries">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.time.MTimeSeries">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.timeperiod.MTimePeriodSeries">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.xyseries.MXYSeries">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.xyzseries.MXYZSeries">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.chartAxis.MChartAxes">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.ChartHyperlinkSection"
               id="com.jaspersoft.studio.property.section.obj.HyperlinkSection"
               tab="com.jaspersoft.studio.editor.section.HYPERLINK"
               afterSection="com.jaspersoft.studio.components.chart.property.section.ChartBookmarkSection">
            <input
                  type="com.jaspersoft.studio.components.chart.model.MChart">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chartspider.model.MSpiderChart">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.dataset.MChartHighLowDataset">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.dataset.MChartPieDataset">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.category.MCategorySeries">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.gantt.MGanttSeries">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.pie.MPieSeries">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.time.MTimeSeries">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.timeperiod.MTimePeriodSeries">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.xyseries.MXYSeries">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.series.xyzseries.MXYZSeries">
            </input>
            <input
                  type="com.jaspersoft.studio.components.chart.model.chartAxis.MChartAxes">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.map.property.MapSection"
               id="com.jaspersoft.studio.components.map.property.MapSection"
               tab="com.jaspersoft.studio.components.Map">
            <input
                  type="com.jaspersoft.studio.components.map.model.MMap">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.map.property.MapAuthenticationSection"
               id="com.jaspersoft.studio.components.map.property.MapAuthenticationSection"
               tab="com.jaspersoft.studio.components.map.authentication">
            <input
                  type="com.jaspersoft.studio.components.map.model.MMap">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.table.properties.TableDatasetSection"
               id="com.jaspersoft.studio.components.table.properties.TableDatasetSection"
               tab="com.jaspersoft.studio.editor.section.DATASET">
            <input
                  type="com.jaspersoft.studio.components.table.model.MTable">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.table.properties.TableColumnSection"
               class="com.jaspersoft.studio.components.table.properties.TableCellSection"
               id="com.jaspersoft.studio.components.table.properties.TableCellSection"
               tab="com.jaspersoft.studio.components.cell">
            <input
                  type="com.jaspersoft.studio.components.table.model.column.MCell">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.table.properties.TableColumnSection"
               id="com.jaspersoft.studio.components.table.properties.TableColumnSection"
               tab="com.jaspersoft.studio.components.cell">
            <input
                  type="com.jaspersoft.studio.components.table.model.column.MColumn">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.crosstab.property.CrosstabDatasetSection"
               id="com.jaspersoft.studio.components.crosstab.property.CrosstabDatasetSection"
               tab="com.jaspersoft.studio.editor.section.DATASET">
            <input
                  type="com.jaspersoft.studio.components.crosstab.model.MCrosstab">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.crosstab.property.CrosstabSection"
               id="com.jaspersoft.studio.components.crosstab.property.CrosstabSection"
               tab="com.jaspersoft.studio.components.crosstab">
            <input
                  type="com.jaspersoft.studio.components.crosstab.model.MCrosstab">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.crosstab.property.CrosstabCellSection"
               id="com.jaspersoft.studio.components.crosstab.property.CrosstabCellSection"
               tab="com.jaspersoft.studio.components.cell">
            <input
                  type="com.jaspersoft.studio.components.crosstab.model.cell.MCell">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.crosstab.property.CrosstabRowGroupSection"
               id="com.jaspersoft.studio.components.crosstab.property.CrosstabRowGroupSection"
               tab="com.jaspersoft.studio.components.cell">
            <input
                  type="com.jaspersoft.studio.components.crosstab.model.rowgroup.MRowGroup">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.crosstab.property.CrosstabColumnGroupSection"
               id="com.jaspersoft.studio.components.crosstab.property.CrosstabColumnGroupSection"
               tab="com.jaspersoft.studio.components.cell">
            <input
                  type="com.jaspersoft.studio.components.crosstab.model.columngroup.MColumnGroup">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.crosstab.property.CrosstabGroupSection"
               id="com.jaspersoft.studio.components.crosstab.property.CrosstabGroupSection"
               tab="com.jaspersoft.studio.components.cell">
            <input
                  type="com.jaspersoft.studio.components.crosstab.model.MCrosstabGroup">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.crosstab.property.CrosstabGroupSection"
               class="com.jaspersoft.studio.components.crosstab.property.CrosstabBucketSection"
               id="com.jaspersoft.studio.components.crosstab.property.CrosstabBucketSection"
               tab="com.jaspersoft.studio.components.cell">
            <input
                  type="com.jaspersoft.studio.components.crosstab.model.MBucket">
            </input>
            <input
                  type="com.jaspersoft.studio.components.crosstab.model.MCrosstabGroup">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.crosstab.property.CrosstabMeasureSection"
               id="com.jaspersoft.studio.components.crosstab.property.CrosstabMeasureSection"
               tab="com.jaspersoft.studio.components.cell">
            <input
                  type="com.jaspersoft.studio.components.crosstab.model.measure.MMeasure">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.map.property.MapDatasetSection"
               id="com.jaspersoft.studio.components.map.property.MapDatasetSection"
               tab="com.jaspersoft.studio.components.map">
            <input
                  type="com.jaspersoft.studio.components.map.model.MMap">
            </input>
         </propertySection>
         <propertySection
        		class="com.jaspersoft.studio.components.map.property.MapPathAndStyleSection"
        		id="com.jaspersoft.studio.components.map.property.MapPathAndStyleSection"
               	tab="com.jaspersoft.studio.components.map.pathsAndStyles">
         	<input
         		type="com.jaspersoft.studio.components.map.model.MMap">
         	</input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.ChartAxisSection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartAxisSection"
               tab="com.jaspersoft.studio.components.chartaxis">
            <input
                  type="com.jaspersoft.studio.components.chart.model.chartAxis.MChartAxes">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.chart.property.section.ChartAxisSection"
               class="com.jaspersoft.studio.components.chart.property.section.ChartAxisGraphicSection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartAxisGraphicSection"
               tab="com.jaspersoft.studio.components.chartaxis">
            <input
                  type="com.jaspersoft.studio.components.chart.model.chartAxis.MChartAxes">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.theme.ChartSettingsSection"
               id="com.jaspersoft.studio.components.chart.property.section.theme.ChartSettingsSection"
               tab="com.jaspersoft.studio.components.chart">
            <input
                  type="com.jaspersoft.studio.components.chart.model.theme.MChartSettings">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.theme.TitleSettingsSection"
               id="com.jaspersoft.studio.components.chart.property.section.theme.TitleSettingsSection"
               tab="com.jaspersoft.studio.components.chart.title">
            <input
                  type="com.jaspersoft.studio.components.chart.model.theme.MTitleSettings">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.chart.property.section.theme.TitleSettingsSection"
               class="com.jaspersoft.studio.components.chart.property.section.theme.CTFontSection"
               id="com.jaspersoft.studio.components.chart.property.section.theme.CTFontSection"
               tab="com.jaspersoft.studio.components.chart.title">
            <input
                  type="com.jaspersoft.studio.components.chart.model.theme.MTitleSettings">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.theme.LegendSettingsSection"
               id="com.jaspersoft.studio.components.chart.property.section.theme.LegendSettingsSection"
               tab="com.jaspersoft.studio.components.chart.legend">
            <input
                  type="com.jaspersoft.studio.components.chart.model.theme.MLegendSettings">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.chart.property.section.theme.LegendSettingsSection"
               class="com.jaspersoft.studio.components.chart.property.section.theme.CTFontSection"
               id="com.jaspersoft.studio.components.chart.property.section.theme.CTFontSectionLegend"
               tab="com.jaspersoft.studio.components.chart.legend">
            <input
                  type="com.jaspersoft.studio.components.chart.model.theme.MLegendSettings">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.theme.PlotSettingsSection"
               id="com.jaspersoft.studio.components.chart.property.section.theme.PlotSettingsSection"
               tab="com.jaspersoft.studio.components.chart.plot">
            <input
                  type="com.jaspersoft.studio.components.chart.model.theme.MPlotSettings">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.chart.property.section.theme.PlotSettingsSection"
               class="com.jaspersoft.studio.components.chart.property.section.theme.CTTickLabelFontSection"
               id="com.jaspersoft.studio.components.chart.property.section.theme.CTPlotTickLabelFontSection"
               tab="com.jaspersoft.studio.components.chart.plot">
            <input
                  type="com.jaspersoft.studio.components.chart.model.theme.MPlotSettings">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.chart.property.section.theme.PlotSettingsSection"
               class="com.jaspersoft.studio.components.chart.property.section.theme.CTPlotDisplayFontSection"
               id="com.jaspersoft.studio.components.chart.property.section.theme.CTPlotDisplayFontSection"
               tab="com.jaspersoft.studio.components.chart.plot">
            <input
                  type="com.jaspersoft.studio.components.chart.model.theme.MPlotSettings">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.theme.AxisSettingsSection"
               id="com.jaspersoft.studio.components.chart.property.section.theme.AxisSettingsSection"
               tab="com.jaspersoft.studio.components.chart.axis">
            <input
                  type="com.jaspersoft.studio.components.chart.model.theme.MAxisSettings">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.chart.property.section.theme.AxisSettingsSection"
               class="com.jaspersoft.studio.components.chart.property.section.theme.CTTickLabelFontSection"
               id="com.jaspersoft.studio.components.chart.property.section.theme.CTAxisTickLabelFontSection"
               tab="com.jaspersoft.studio.components.chart.axis">
            <input
                  type="com.jaspersoft.studio.components.chart.model.theme.MAxisSettings">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.jaspersoft.studio.components.chart.property.section.theme.AxisSettingsSection"
               class="com.jaspersoft.studio.components.chart.property.section.theme.CTLabelFontSection"
               id="com.jaspersoft.studio.components.chart.property.section.theme.CTLabelFontSection"
               tab="com.jaspersoft.studio.components.chart.axis">
            <input
                  type="com.jaspersoft.studio.components.chart.model.theme.MAxisSettings">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.crosstab.property.CrosstabTitleCellSection"
               id="com.jaspersoft.studio.components.crosstab.property.CrosstabTitleCellSection"
               tab="com.jaspersoft.studio.components.cell">
            <input
                  type="com.jaspersoft.studio.components.crosstab.model.title.MTitleCell">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.section.name.NameSection"
               id="com.jaspersoft.studio.components.table.properties.NameSectionTable"
               tab="com.jaspersoft.studio.components.table">
            <input
                  type="com.jaspersoft.studio.components.table.model.MTable">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.section.name.NameSection"
               id="com.jaspersoft.studio.components.table.properties.NameSectionCrosstab"
               tab="com.jaspersoft.studio.components.crosstab">
            <input
                  type="com.jaspersoft.studio.components.crosstab.model.MCrosstab">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.section.name.NameSection"
               id="com.jaspersoft.studio.components.table.properties.NameSectionList"
               tab="com.jaspersoft.studio.components.list">
            <input
                  type="com.jaspersoft.studio.components.list.model.MList">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="com.jaspersoft.studio.properties.propertyTabs">
      <propertyTabs
            contributorId="com.jaspersoft.studio.editor.report.ReportContainer">
         <propertyTab
               afterTab="com.jaspersoft.studio.editor.JrxmlEditor.Element"
               category="element"
               id="com.jaspersoft.studio.components.chart"
               image="icons/chart-16.png"
               label="%labelChart">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.components.chart"
               category="element"
               id="com.jaspersoft.studio.components.chart.legend"
               indented="true"
               label="%labelLegend">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.components.chart.legend"
               category="element"
               id="com.jaspersoft.studio.components.chart.title"
               indented="true"
               label="%labelTitle">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.components.chart.title"
               category="element"
               id="com.jaspersoft.studio.components.chart.subtitle"
               indented="true"
               label="%labelSubtitle">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.components.chart.subtitle"
               category="element"
               id="com.jaspersoft.studio.components.chart.plot"
               indented="true"
               image="icons/color-swatch.png"
               label="%labelChartPlot">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.components.chart.plot"
               category="element"
               id="com.jaspersoft.studio.components.chart.dataset"
               indented="true"
               label="%labelChartDataset">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.components.chart.plot"
               category="element"
               id="com.jaspersoft.studio.components.chart.series"
               indented="true"
               label="%labelChartSeries">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.editor.JrxmlEditor.Element"
               category="element"
               id="com.jaspersoft.studio.components.barcode"
               image="icons/barcode-16.png"
               label="%labelBarcode">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.editor.JrxmlEditor.Element"
               category="element"
               id="com.jaspersoft.studio.components.list"
               image="icons/list-16.png"
               label="%labelList">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.editor.JrxmlEditor.Element"
               category="element"
               id="com.jaspersoft.studio.components.crosstab"
               image="icons/crosstab-16.png"
               label="%labelCrosstab">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.editor.JrxmlEditor.Element"
               category="element"
               id="com.jaspersoft.studio.components.cell"
               image="icons/cell-16.png"
               label="%labelCell">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.editor.JrxmlEditor.Element"
               category="element"
               id="com.jaspersoft.studio.components.Map"
               image="icons/map.png"
               label="%elementMap">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.components.Map"
               category="element"
               id="com.jaspersoft.studio.components.map.authentication"
               image="icons/map-authentication-16.png"
               label="%labelAuthentication">
         </propertyTab>           
         <propertyTab
               afterTab="com.jaspersoft.studio.components.map.authentication"
               category="element"
               id="com.jaspersoft.studio.components.map"
               image="icons/map-16.png"
               label="%labelMarkers">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.components.map"
               category="element"
               id="com.jaspersoft.studio.components.map.pathsAndStyles"
               image="icons/paths_styles-16.png"
               label="Paths">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.editor.JrxmlEditor.Element"
               category="element"
               id="com.jaspersoft.studio.components.chartaxis"
               image="icons/chart-16.png"
               label="%labelChartAxis">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.components.chart.title"
               category="element"
               id="com.jaspersoft.studio.components.chart.axis"
               indented="true"
               label="%labelAxis">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.editor.JrxmlEditor.Element"
               category="element"
               id="com.jaspersoft.studio.components.table"
               image="icons/table-16.png"
               label="%labelTable">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="com.jaspersoft.studio.postsetvalue">
      <postsetvalue
            ClassFactory="com.jaspersoft.studio.components.table.model.cell.command.PostSetSizeCell">
      </postsetvalue>
      <postsetvalue
            ClassFactory="com.jaspersoft.studio.components.crosstab.model.cell.command.PostSetSizeCell">
      </postsetvalue>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.jaspersoft.studio.components.chart.editor.JRctxEditor"
            contributorClass="com.jaspersoft.studio.components.chart.editor.JrctxEditorContributor"
            default="false"
            extensions="jrctx"
            icon="icons/chart-16.png"
            id="com.jaspersoft.studio.components.editor1"
            name="Chart Theme Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.jaspersoft.studio"
            class="com.jaspersoft.studio.components.chart.editor.wizard.ChartThemeNewWizard"
            icon="icons/chart-16.png"
            id="com.jaspersoft.studio.components.chart.editor.wizard.ChartThemeNewWizard"
            name="Chart Themes">
         <description>
            Create a new Chart Theme
         </description>
      </wizard>
   </extension>
   <extension
         point="com.jaspersoft.studio.templateProviderSupport">
      <templateProvider
            id="ExtendedTableProvider"
            providerClass="com.jaspersoft.studio.components.engine.ExtendedTemplateProvider">
      </templateProvider>
      <templateProvider
            id="JSTemplateProvider"
            providerClass="com.jaspersoft.studio.components.engine.JSTemplateProvider">
      </templateProvider>
   </extension>
   <extension
         point="com.jaspersoft.studio.stylesViewContributor">
      <styleViewProvider
            id="tableStyleViewContributor"
            providerClass="com.jaspersoft.studio.components.table.figure.TableStyleView">
      </styleViewProvider>
      <styleViewProvider
            id="crosstabStyleViewContributor"
            providerClass="com.jaspersoft.studio.components.crosstab.figure.CrosstabStyleView">
      </styleViewProvider>
   </extension>
   <extension
         point="com.jaspersoft.studio.babel.editor.resourceInput">
      <input
            class="com.jaspersoft.studio.components.messages.ResourcePublisher">
      </input>
   </extension>
   <extension
         point="com.jaspersoft.studio.toolitemsets">
      <toolitemsets
            id="com.jaspersoft.studio.components.tableactions"
            label="%TableAction">
         <toolitem
               class="com.jaspersoft.studio.toolbars.CreateColumnBeginContributionItem"
               id="com.jaspersoft.studio.editor.action.createcolumn_begin">
         </toolitem>
         <toolitem
               class="com.jaspersoft.studio.toolbars.CreateColumnEndContributionItem"
               id="com.jaspersoft.studio.editor.action.createcolumn_end">
         </toolitem>
         <toolitem
               class="com.jaspersoft.studio.toolbars.CreateColumnBeforeContributionItem"
               id="com.jaspersoft.studio.editor.action.createcolumn_before">
         </toolitem>
         <toolitem
               class="com.jaspersoft.studio.toolbars.CreateColumnAfterContributionItem"
               id="com.jaspersoft.studio.editor.action.createcolumn_after">
         </toolitem>
      </toolitemsets>
      <toolitemsets
            id="com.jaspersoft.studio.components.crosstabaction"
            label="%CrosstabAction">
         <toolitem
               class="com.jaspersoft.studio.toolbars.CreateRowGroupContributionItem"
               id="com.jaspersoft.studio.editor.action.createrowgroup">
         </toolitem>
         <toolitem
               class="com.jaspersoft.studio.toolbars.CreateColumnGroupContributionItem"
               id="com.jaspersoft.studio.editor.action.createcolumngroup">
         </toolitem>
      </toolitemsets>
   </extension>
</plugin>
