<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="com.jaspersoft.studio.data.ui.SqlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="sql"
            id="com.jaspersoft.studio.data.Sql"
            name="%sql_editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="com.jaspersoft.studio.data.ui.SqlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="com.jaspersoft.studio.data.Sql.validate">
         <activeWhen>
            <reference
                    definitionId="com.jaspersoft.studio.data.Sql.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="com.jaspersoft.studio.data.ui.SqlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="com.jaspersoft.studio.data.Sql.Editor.opened" />
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="com.jaspersoft.studio.data.Sql.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="com.jaspersoft.studio.data.Sql" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="com.jaspersoft.studio.data.Sql.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="com.jaspersoft.studio.data.Sql" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="com.jaspersoft.studio.preferences.EditorsPreferencePage"
            class="com.jaspersoft.studio.data.ui.SqlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="com.jaspersoft.studio.data.Sql.coloring"
            name="%syntaxColor">
            <keywordReference id="com.jaspersoft.studio.data.ui.keyword_Sql"/>
        </page>
        <page
              category="com.jaspersoft.studio.preferences.EditorsPreferencePage"
              class="com.jaspersoft.studio.data.sql.prefs.SQLEditorPreferencesPage"
              id="com.jaspersoft.studio.data.sql.prefs.SQLEditorPreferencesPage"
              name="%editorSQL">
           <keywordReference
                 id="com.jaspersoft.studio.data.ui.keyword_Sql">
           </keywordReference>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
              category="com.jaspersoft.studio.preferences.EditorsPreferencePage.property"
              class="com.jaspersoft.studio.data.ui.SqlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
              id="com.jaspersoft.studio.data.Sql.coloring.property"
              name="%syntaxColor">
           <enabledWhen>
              <reference
                    definitionId="com.jaspersoft.studio.projectorjrxml">
              </reference>
           </enabledWhen>
        </page>
        <page
              category="com.jaspersoft.studio.preferences.EditorsPreferencePage.property"
              class="com.jaspersoft.studio.data.sql.prefs.SQLEditorPreferencesPage"
              id="com.jaspersoft.studio.data.sql.prefs.SQLEditorPreferencesPage"
              name="%editorSQL">
           <enabledWhen>
              <reference
                    definitionId="com.jaspersoft.studio.projectorjrxml">
              </reference>
           </enabledWhen>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="com.jaspersoft.studio.data.ui.keyword_Sql"
            label="Sql"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="com.jaspersoft.studio.data.Sql.validate"
            name="%validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="%copyNameDescription"
            name="%copyName">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="com.jaspersoft.studio.data.Sql.validate"
                 style="push"
                 tooltip="%triggerExpansiveValidation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="com.jaspersoft.studio.data.Sql.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="%copyNameToolTip">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="com.jaspersoft.studio.data.Sql.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="%copyNameToolTip">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="com.jaspersoft.studio.data.Sql.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="com.jaspersoft.studio.data.Sql.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="com.jaspersoft.studio.data.ui.SqlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="com.jaspersoft.studio.data.Sql.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="com.jaspersoft.studio.data.ui.SqlExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="sql">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="com.jaspersoft.studio.data.ui.SqlExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="sql">
        </resourceServiceProvider>
    </extension>


	<!-- marker definitions for com.jaspersoft.studio.data.Sql -->
	<extension
	        id="sql.check.fast"
	        name="%sqlProblem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="sql.check.normal"
	        name="%sqlProblem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="sql.check.expensive"
	        name="%sqlProblem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="com.jaspersoft.studio.data.ui.SqlExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>

  <extension
        point="com.jaspersoft.studio.queryDesigner">
     <queryDesigner
           QueryDesignerClass="com.jaspersoft.studio.data.sql.SQLQueryDesigner"
           language="sql">
     </queryDesigner>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="com.jaspersoft.studio.data.sql.prefs.PreferenceInitializer">
     </initializer>
  </extension>
  <extension
        point="com.jaspersoft.studio.babel.editor.resourceInput">
     <input
           class="com.jaspersoft.studio.data.sql.messages.ResourcePublisher">
     </input>
  </extension>

</plugin>
